<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://localhost:8888/i1macura</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.username">i1macura</property>
    <property name="connection.password">Plutokracja1</property>
    <!--<property name="hibernate.hbm2ddl.auto">create-drop</property>-->
      <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
      <mapping class="entity.ActionEntity"/>
      <mapping class="entity.CardEntity"/>
      <mapping class="entity.DeckEntity"/>
      <mapping class="entity.EditionEntity"/>
      <mapping class="entity.RaceEntity"/>
      <mapping class="entity.TypeEntity"/>
      <mapping class="entity.UserEntity"/>


      <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>